* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.navigation a{
color: #211b1b;
}
.navigation ul{
    align-items: center;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}
.navigation ul li a:hover {
    background: #FFAFBD;
}
.imgRedonda {
    width:350px;
    height:400px;
    border-radius:200px;
}
.boton.uno::after {
	content: "";
	width: 100%;
	height: 100%;
	background: #FFAFBD;
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	transition: .3s ease-in-out all;
}
.boton.uno:hover::after {
	top: 0;
}
body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}
.contenedor {
	width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 58px;
	font-weight: 500;
	text-align: right;
	margin-bottom: 80px;
	text-transform: uppercase;
	color: #141414;
	border: 5px solid #141414;
	padding: 5px 10px;
	display: inline-block;
}
.contenedor p {
	font-size: 38px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: #141414;
	padding: 5px 10px;
	display: inline-block;
}
.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
} 
.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 50px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
p.about{
    font-size: 25px;
    color: #211b1b;
    text-transform:none;
    text-align: center;
    line-height: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: auto;
}
.container1 {
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    padding:30px ;
}
.footer-col{
    width: 30%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #010101;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.contact{
	position: relative;
	min-height: 15px;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 30px;
	font-weight: 500;
}
.contact .content p{
	font-weight: 500;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #010101;
	flex-direction: column;

}
.container .contactInfo .box .text{
	font-weight: 500;
}
.contactForm{
	width: 40%;
	padding: 40px;
}
.contactForm h2{
	font-size: 30px;
	font-weight: 500;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #010101;
	outline: none;
	resize: none;
}
.contactForm .inputBox span{
	position: relative;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: .5s;
}
.contactForm .inputBox input[type="submit"]{
	width: 100px;
	background: #FFAFBD;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
.containerE {
	padding: 30px;
	width: 50%;
	max-width: 1500px;
    margin: auto;
	font-size:25px;
}
.containerE th{
	font-size: 25px;
	font-weight: 100px;
	text-align: auto;
	text-transform: uppercase;
	color: #141414;
	display: inline-block;
}
.containerE td p{
	text-align: auto;
	padding: 30px;
	font-weight: bold
}